runpod>=1.7.9
transformers==4.46.2
soundfile==0.12.1
num2words>=0.5.13
boto3
accelerate>=0.33
soxr
huggingface_hub>=0.23
einops>=0.8.1
einx>=0.3.0
torch>=2.5.1
torchaudio>=2.5.1
numpy>=2.2.3
scipy
librosa
safetensors>=0.5.2
